:root {
 --primary: #3E3B92;
 --secondary: #F44369;
 --bgthemes:#191919;
}

legend {
    border-bottom: 4px solid --primary;
}

.forum_on {
   color: --primary;
}

.active-color {
	background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
}

.postbit_user_btn a:link, .postbit_user_btn a:visited, .postbit_user_btn a:active {
  background-color: #191919;
      color: #fff;
}

.panel-primary>.panel-heading {
    background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
    border-color: var(--primary);
}

blockquote {
    border-left: 5px solid var(--primary);
}

.thead {
	background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
	color: #fff;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	font-weight: bold;
}

.thead a:link, .thead a:visited {
	color:#fff;
}

.popup_menu .popup_item:hover {
	background: linear-gradient(90deg, var(--primary) 0%, var(--secondary) 100%);
}

a:link {
	color: var(--primary);
	text-decoration: none;
}

a:visited {
	color: var(--primary);
	text-decoration: none;
}

a:hover,
a:active {
	color: var(--primary);
	text-decoration: none;
}

#logo {
	background: var(--primary);
}

.forum_on {
color: var(--primary);
}

#portal #nav-portal a,
#forums #nav-forums a,
#searchh #nav-search a,
#member #nav-member a,
#calendar #nav-calendar a,
#help #nav-help a {
    background-color: var(--primary);
}

.pagination a:hover {
	background: var(--primary);
	border-color: var(--primary);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
     background-color: var(--primary);
	 color: #fff;
}
#current_time {
	float: left;
    color: #666;
	font-size: 12px;
	padding:3px;
}
.pagination a:hover {
 background: var(--primary);
 color: #fff;
 border-color: var(--primary);
 text-decoration: none;
}

.popup_menu .popup_item:hover {
 background: var(--primary);
 color: #fff;
}

select {
    color: var(--primary);
}

.thead input.textbox,
.thead select {
 border: 1px solid var(--primary);
border-radius: 4px;
}

.modcp_nav_item:before {
	color: var(--primary);
}

 .postbit_buttons > a:link,
   .postbit_buttons > a:hover,
   .postbit_buttons > a:visited,
   .postbit_buttons > a:active {
    display: inline-block;
    padding: 2px 5px;
    margin: 2px;
    background: #1c1c1c;
    border: 1px solid var(--primary);
    color: #fff;
    border-radius: 4px;
}

.postbit_buttons > a:hover {
   border-color: var(--primary);
}

button,
   input.button {
    padding: 3px 8px;
    cursor: pointer;
    background: #1c1c1c;
    border: 1px solid var(--primary);
    color: #fff;
    border-radius: 4px;
    outline: 0;
}

button:hover,
   input.button:hover {
    border-color: var(--primary);
}

button,
   input.button {
    padding: 3px 8px;
    cursor: pointer;
    background: #1c1c1c;
    border: 1px solid var(--primary);
    color: #fff;
    border-radius: 4px;
    outline: 0;
}

button:hover,
   input.button:hover {
    border-color:  var(--secondary);
}

li.nav-forums:hover {
    background: var(--primary)!impotant;
}
		